<h1 style="text-align: center">Confirmed Covid-19 cases Worldwide(updated daily)</h1>
<hr style="text-align: center; background-color: brown; width: 50%; height: 3px"/>
<p>
<%= geo_chart(@confirmed_covid_cases) %>
</p>
